<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>ProfilerFilter</filter-name>
		<filter-class>servlets.ProfilerFilter</filter-class>
		<!--init-param>
			<param-name>env</param-name>
			<param-value>dev</param-value>
		</init-param-->
	</filter>
	<filter-mapping>
		<filter-name>ProfilerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class>servlets.FormServlet</servlet-class>
		<init-param>
			<param-name>image-path</param-name>
			<param-value>/images/image1.jpg</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ZipServlet</servlet-name>
		<servlet-class>servlets.ZipServlet</servlet-class>
		<init-param>
			<param-name>image-path</param-name>
			<param-value>/images/image2.jpg</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ResultServlet</servlet-name>
		<servlet-class>servlets.ResultServlet</servlet-class>
		<init-param>
			<param-name>image-path</param-name>
			<param-value>/images/image3.jpg</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ZipServlet</servlet-name>
		<url-pattern>/dozip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>form</welcome-file>
	</welcome-file-list>
</web-app>
